{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>

<div class="add-page">
  <form class="add-page__form" method="POST">
    {% csrf_token %}
    <h2>New post</h2>

    <div class="add-page__box">
      {{ form.title }}
      {{ form.title.errors }}
      <label for="{{ form.title.id_for_label }}" class="add-page__label">{{ form.title.label }}</label>
    </div>
    <div class="add-page__box">
      {{ form.slug }}
      {{ form.slug.errors }}
      <label for="{{ form.slug.id_for_label }}" class="add-page__label">{{ form.slug.label }}</label>
    </div>
    <div class="add-page__box">
      {{ form.content }}
      {{ form.content.errors }}
      <label for="{{ form.content.id_for_label }}" class="add-page__label">{{ form.content.label }}</label>
    </div>
    <div class="add-page__box">
      <label for="{{ form.cat.id_for_label }}" class="add-page__label label-select">{{ form.cat.label }}</label>
      {{ form.cat }}
      {{ form.cat.errors }}
    </div>
    <div class="add-page__box">
      <label for="{{ form.husband.id_for_label }}" class="add-page__label label-select">{{ form.husband.label }}</label>
      {{ form.husband }}
      {{ form.husband.errors }}
    </div>
    <div class="add-page__box">
      <label for="{{ form.tags.id_for_label }}" class="add-page__label label-select">{{ form.tags.label }}</label>
      {{ form.tags }}
      {{ form.tags.errors }}
    </div>
    <div class="add-page__box">
      <label for="{{ form.is_published.id_for_label }}" class="add-page__label label-select">{{ form.is_published.label }}</label>
      {{ form.is_published }}
      {{ form.is_published.errors }}
    </div>
    <button type="submit" class="btn add-page__button">Добавить</button>
  </form>

  <ul class="list-articles">
  {% for p in posts %}
    <li>
      <div class="article-panel">
        <p class="first">Категория: {{p.cat.name}}</p>
        <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
      </div>
      <h2>{{p.title}}</h2>
      {% autoescape off %}
      {{p.content|linebreaks|truncatewords:30}}
      {% endautoescape %}
      <div class="clear"></div>
      <div class="link-read-post">
        <a class="btn" href="{{ p.get_absolute_url }}">Читать пост</a>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
