:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #999999;
  --color-dark-gray: #555555;
  --color-light-gray: #eeeeee;
  --color-green: #56af62;
  --color-red: #CC0000;
  --color-blue: #333671;
  --color-cyan: #0088cc;
  --color-orange: #FDA83D;
  --color-egor: #3F4137;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html, body {
	font-family: Sans-serif, Arial, Tahoma;
	height: 100%;
	color: #444;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.title {
  font-family: Sans-serif, Arial, Tahoma;
}

img {max-width: 600px; height: auto;}

.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

.img-article-left.thumb {
	max-width: 150px;
	height: auto;
}

.link-read-post {
  display: flex;
  justify-content: right;
  padding: 10px;
}
.link-read-post a {
  font-size: 18px;
	color: var(--color-white);
	text-decoration: none;
	min-width: 100px;
  border: none;
  border: 2px solid transparent;
	background-color: var(--color-blue);
  transition: all 0.2s ease-in-out;
}

.link-read-post a:hover,
.link-read-post a:focus {
  color: var(--color-orange);
  background-color: var(--color-white);
  border-color: var(--color-orange);
  /* background-color: color-mix(in srgb, var(--color-blue) 10%, transparent); */
}

.article-panel {
  display: flex;
  justify-content: space-between;
  color: var(--color-dark-gray);
  background: #eee;
  overflow: hidden;
  padding: 7px 12px;
}

.article-panel-cat {
  font-size: 16px;
}

.article-panel-time {
  font-size: 15px;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-articles li {
  border-top: 1px solid #ccc;
  margin-bottom: 5px;
}

ul.list-articles h2 {
	font-weight: 600;
  margin: 10px;
}

ul.list-articles p {
  margin: 10px;
}

.table-page {
  width: 100%;
  height: 100%;
}
.table-page tr {
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 0 4.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
	width: 60px;
	height: 100%;
}
.logo svg {
  width: 50px;
  height: 50px;
  fill: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.logo svg:hover {
  fill: var(--color-orange);
  scale: 1.03;
}

.svg-heart {
  fill: var(--color-orange);
}

.svg-face {
  fill: var(--color-white);
}

ul.mainmenu {
  display: flex;
  align-items: center;
  gap: 50px;
	height: 100%;
	font-size: 20px;
	list-style: none;
	overflow: hidden;
}
ul.mainmenu li:not(.logo) {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

ul.mainmenu li.logo {
  margin-right: 1rem;
}

.last-menu-item {
  display: flex;
  align-items: center;
}

.last-menu-item div {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.last-menu-item div a {
  font-size: 20px;
  color: var(--color-white);
	text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mainmenu li a {
	color: var(--color-white);
	text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mainmenu li:not(.logo) a:hover,
.last-menu-item div a:hover {
	color: var(--color-orange);
  padding-bottom: 5px;
}

.mainmenu li:not(.logo) a::after,
.last-menu-item div a::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  transition: width 0.3s;
}

.mainmenu li:not(.logo) a:hover::after,
.last-menu-item div a:hover::after {
  width: 100%;
}



/*  */

.panelitems {
	text-align: center;
}

ul.langitem {
	list-style: none;
	display: inline-block;
	margin: 30px;
	padding: 0;
	max-width: 300px
}

ul.langitem li {
	margin: 10px 0 0 0;
	width: 100%;
}

ul.langitem li.image {
	margin: 0;
	text-align: center;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

ul.langitem li.descr {
	color: #777;
	height: 170px;
	overflow: hidden;
}

ul.langitem li a {
	color: #fdc073;
	text-decoration: none;
	font-size: 20px;
}

ul.langitem li a:hover {
	color: var(--color-orange);
}

div.button {
	background: #3F4137;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.table-content {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.left-chapters {
  height: 100svh;
  background: var(--color-light-gray);
	border-right: 1px solid #ccc;
	margin: 0;
}

.left-chapters ul {
	width: 230px;
	font-size: 20px;
	list-style: none;
	padding: 22px;
	margin: 0;
}

.left-chapters ul li {
  position: relative;
  color: var(--color-gray);
  padding: 8px 0;
  margin: 0 0 15px;
  transition: all 0.2s ease-in-out;
}

.left-chapters ul li a:hover:not(.selected, .share > *, .tags-list li a) {
  color: var(--color-orange);
  padding-left: 8px;
}

.left-chapters ul li.selected {
  font-weight: 600;
  color: var(--color-blue);
}

.last-menu-item div a {
  font-size: 20px;
  color: var(--color-white);
	text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.left-chapters ul li a {
	color: var(--color-dark-gray);
	text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.left-chapters li a:hover {
	color: var(--color-orange);
}

.left-chapters li a::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  transition: width 0.3s;
}

.left-chapters li a::before {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange);
  transition: width 0.3s;
}

.left-chapters li a:hover::after,
.left-chapters li a:hover::before {
  width: 80%;
}

.left-chapters ul li.share {
  margin: 60px 0 0 0;
}

.left-chapters ul li.share p {
  margin: 10px 0;
}

.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0;
}

.share > *::before,
.share > *::after,
.tags-list li a::before,
.tags-list li a::after {
  content: none !important;
  display: none !important;
}

ul.tags-list {
  width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tags-list li {
  display: inline-block;
  padding: 0;
	margin: 0 0 4px 0;
}

ul.tags-list li span {
	margin: 0 0 4px 0;
}

ul.tags-list li a {
  font-size: 14px;
  color: var(--color-black);
  background-color: var(--color-white);
	padding: 5px 8px;
	border: 1px solid var(--color-black);
}

ul.tags-list li a:hover {
	color: var(--color-white);
  background-color: var(--color-blue);
	border: 1px solid var(--color-blue);
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	color: #0059b2;
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: #CC0000; }
ul.breadcrumbs li:after{
	padding: 0 10px 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

ul.control {
	font-size: 18px;
  list-style: none;
	width: 100%;
	padding: 60px 0 0 0;
	margin: 0;
}
ul.control li {	float: left; padding: 0 0 0 10px;}
ul.control li.first:before {content: "\2190"; padding: 0 10px 0 0;}
ul.control li.last {float: right; padding: 0 40px 0 0;}
ul.control li.last:after {content: "\2192"; padding: 0 0 0 10px;}
ul.control li a { color: #0059b2; text-decoration: none; }
ul.control li a:hover { color: #CC0000; }

ul.content-table {
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-size: 28px;
}
ul.content-table li {
	margin: 0 0 40px 0;
}
ul.content-table li a {
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #F0711C;}

.content-text {
	color: var(--color-black);
	font-size: 20px;
}
.content-text h1 {font-size: 32px;}

ul.lang-list {
	font-size: 18px;
	list-style: none;
	width: 100%;
	height: 50px;
	background: #3F4137;
	border-top: 1px solid #959A82;
	margin: 0;
	padding: 14px 0 0 0;
}
ul.lang-list li {
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #fdc073; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #fdc073;}

.topic-subject .topic-line {
	border-bottom: 1px solid #CC0000;
	margin-top: -16px;
}

.topic-subject .topic-text {
	display: inline-block;
	font-size: 28px;
	color: #777;
	background: var(--color-white);
	margin-left: 30px;
	padding: 0 10px 0 10px;
}

.list-topic {
	margin: 40px 0 60px 0;
}
.list-topic p {
	margin: 0;
	font-size: 28px;
}
.list-topic ol {
	columns: 2;
	-webkit-columns: 2;
	column-gap: 40px;
}
.list-topic ol li {
	display: list-item;
	margin: 10px 10px 0 0px;
	padding: 0 0 0 10px;
}
.list-topic ol li a {
	color: var(--color-blue);
	text-decoration: none;
}
.list-topic ol li a:hover {color: #CC0000;}

.highlight {
	max-width: 350px;
	padding: 0 10px 0 10px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	background: #f0f0f0;
}
.highlight p { margin: 0; }
.highlight .block {
	width: 100%;
	margin: 0;
}
.highlight .block p { margin: 0; }

.quote {
	font-style: italic;
	background: url('../images/blockquote.png') no-repeat 0 10px;
	padding: 5px 5px 5px 70px;
}

.footer {
  font-size: 14px;
	color: var(--color-white);
  background-color: var(--color-blue);
  padding: 35px 70px;
}

.footer__inner {
  display: flex;
}

#footer a {
	color: #aaa;
	text-decoration: underline;
}

.form-input {
  width: 300px;
  font-size: 16px;
}

.form-label {
  display: inline-block;
  min-width: 150px;
  vertical-align: top;
}

.form-error ul {
  list-style: none;
  padding: 0;
  color: #CC0000;
}

.form-button {
  min-width: 200px;
  font-size: 16px;
}

.add-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.add-page__form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 400px;
  min-height: 350px;
  max-height: 660px;
  border-radius: 20px;
  border: 1px solid var(--color-gray);
  box-shadow: 0 1px 8px var(--color-light-gray);
  padding: 2rem;
  margin: 50px 50px 50px 0;
  transition: all 0.2s ease-in-out;
}

.add-page__form:hover {
  border: 1px solid var(--color-black);
  box-shadow: 0 2px 12px var(--color-light-gray);
}

.add-page__form h2 {
  margin: 0 0 20px 0;
}

.add-page__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.add-page__label {
  position: absolute;
  top: 4px;
  font-size: 15px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.add-page__box input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-black);
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.add-page__box input:focus,
.add-page__box textarea:focus,
.add-page__box select:focus,
.add-page__box input:hover,
.add-page__box textarea:hover,
.add-page__box select:hover {
  border-bottom: 1px solid var(--color-orange);
}

.add-page__box input:focus ~ .add-page__label,
.add-page__box input:not(:placeholder-shown) ~ .add-page__label {
  top: -14px;
  font-size: 12px;
  color: var(--color-gray);
}

.add-page__box textarea:focus ~ .add-page__label,
.add-page__box textarea:not(:placeholder-shown) ~ .add-page__label {
  top: -14px;
  font-size: 12px;
  color: var(--color-gray);
}

.add-page__select {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-page__box select {
  width: 60%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-black);
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.add-page__box .label-select {
  position: static !important;
  transition: all 0.2s ease-in-out;
}

/* .add-page__title {
    
}

.add-page__description {

} */

.add-page__box textarea {
  position: relative;
  max-width: 340px;
  height: 24px;
  min-height: 24px;
  max-height: 140px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-black);
  padding: 4px;
  transition: border-bottom 0.2s ease-in-out;
}

.add-page__description label {
  position: absolute;
  font-size: 15px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

/* .add-page__category {

}

.add-page__status {

}

.add-page__husband {

}

.add-page__url {

} */

.add-page__button {
  cursor: pointer;
  font-size: 15px;
  background-color: var(--color-white);
  border: none;
  border: 1px solid var(--color-black);
  outline: none;
  padding: 0.8rem 2.5rem;
  margin-top: auto;
  transition: all 0.3s ease-in-out;
}

.add-page__button:hover,
.add-page__button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}


/* Button | Кнопки */

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  color: var(--color-black);
  text-decoration: none;
  background-color: var(--color-white);
  border: none;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  outline: none;
  padding: 0.625rem 1.5625rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}



/* svg */

.share-git svg g {
  fill: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.share-git:hover.share-git svg g {
  fill: var(--color-blue);
}

.share-telegram svg {
  fill: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.share-telegram:hover.share-telegram svg {
  fill: var(--color-cyan);
}