{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Добро пожаловать на наш сайт, посвященный вдохновляющим историям о великих женщинах! Здесь вы можете просматривать различные посты, рассказывающие о выдающихся женщинах в истории, культуре, науке и искусстве.</p>

<p>Наш сайт предлагает удобный интерфейс для поиска постов по тегам, что позволяет вам легко находить интересные темы и личности. Вы также можете оставить свои собственные посты, делясь историями и мнениями о женщинах, которые вдохновляют вас.</p>

<p>Присоединяйтесь к нашему сообществу и открывайте для себя увлекательные истории, которые формируют наше общество!</p>
{% endblock %}
