{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Мы ценим ваше мнение и хотим услышать вас! Раздел обратной связи на нашем сайте предназначен для того, чтобы вы могли делиться своими мыслями, предложениями и вопросами.</p>

<p>Если у вас есть идеи по улучшению нашего контента, вопросы о постах или вы хотите поделиться своей историей, не стесняйтесь оставлять свои комментарии. Наша команда внимательно изучает все отзывы и старается сделать наш сайт еще лучше!</p>

<p>Чтобы оставить обратную связь, заполните форму ниже. Мы обязательно ответим на ваши сообщения и учтем все ваши пожелания.</p>
{% endblock %}
