{% extends 'base.html' %}

{% block content %}
<h1 class="title">{{title}}</h1>

<div class="add-page">
  <form class="add-page__form" id="addPostForm" method="POST" action="">
    {% csrf_token %}
    <h2>New post</h2>

    <div class="add-page__box add-page__title">
      <input type="text" id="title" data="title" placeholder=" ">
      <label class="add-page__label" for="title">Название</label>
    </div>

    <div class="add-page__box add-page__description">
      <textarea name="content" id="content" data="content" placeholder=" "></textarea>
      <label class="add-page__label" for="content">Описание</label>
    </div>

    <div class="add-page__select">

      <div class="add-page__box add-page__category">
        <!-- <input type="text" id="category" data="category" placeholder=" "> -->
        <label for="category">Категория:</label>
        <select name="category" id="category">
          <option value="value1"></option>
          <option value="value2">Актриса</option>
          <option value="value3">Певица</option>
          <option value="value4">Спортсменка</option>
        </select>
      </div>
  
      <div class="add-page__box add-page__status">
        <!-- <input type="text" id="status" data="status" placeholder=" "> -->
        <label for="status">Статус:</label>
        <select name="status" id="status">
          <option value="value1"></option>
          <option value="value2">Опубликовать</option>
          <option value="value3">В черновик</option>
        </select>
      </div>
  
      <!-- <div class="add-page__box add-page__husband">
        <label for="husband">Семейное положение</label>
        <select name="husband" id="husband">
          <option value="value1" selected>Свободная</option>
          <option value="value2">Замужем</option>
        </select>
      </div> -->

    </div><!-- add-page__select -->

    <div class="add-page__box add-page__husband">
      <input type="text" id="husband" data="husband" placeholder=" ">
      <label class="add-page__label" for="husband">Семейное положение</label>
    </div>

    <div class="add-page__box add-page__url">
      <input type="text" id="url" data="url" placeholder=" ">
      <label class="add-page__label" for="url">URL</label>
    </div>

    <button class="btn add-page__button" type="submit">Добавить</button>
  </form>

  <ul class="list-articles">
    {% for p in posts %}
      <li>
        <div class="article-panel">
          <p class="first">Категория: {{p.cat.name}}</p>
          <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>
        <h2>{{p.title}}</h2>
        {% autoescape off %}
        {{p.content|linebreaks|truncatewords:30}}
        {% endautoescape %}
        <div class="clear"></div>
        <div class="link-read-post">
          <a class="btn" href="{{ p.get_absolute_url }}">Читать пост</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}